<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="form-conatiner">
        <label>Nombre</label>
        <input class="form-control" type="text"/>
        <br/>
        <label>Correo</label>
        <input class="form-control" type="email"/>
        <br/>
        <label>Mensaje</label>
        <textarea class="form-control"></textarea>

      </div>
    </div>
  </div>
  <hr/>
  <div class="btn-container">
    <a class="btn btn-primary">Enviar</a>
    <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
  </div>
</div>
