<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>

<!--
<ul>
 Se utiliza cuando se escriben mas de una directiva, com vemos debajo, if y for
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.active">{{lugar.nombre}}</li>
  </ng-container>
</ul>
-->

<!--
<ul>
  <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
    <li appContarClicks [ngStyle]="{color: (lugar.active ? 'black' : 'gray')}"
        [ngClass]="{numero_par: (i+1) %2 !== 0}" [appResaltar]="lugar.plan">
      {{lugar.nombre}} -
      <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy Cercano</span>
      <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Lejano</span>
      <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Muy Lejano</span>
    </li>
  </ng-container>
</ul>

-->


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="bg-sin-destacar padding">
        <h2 class="header-title">Lugares Cercanos</h2>
        <a class="btn btn-primary" pull-right routerLink="/crear/new">
          Crear Nuevo Negocio
        </a>
        <ng-container *ngFor="let lugar of lugares">
          <li class="bg-sin-destaca-dark">
            <a routerLink="/crear/{{lugar.id}}">
              <h3>{{lugar.nombre | uppercase}} </h3>
              <br/>
              <small>Creado: {{lugar.id | date:'short' | uppercase}}</small>
              <p [innerHTML]="lugar.descripcion | linkyfystr"></p>
            </a>
          </li>
          <!--*ngIf="lugar.active" -->
        </ng-container>
      </div>
    </div>
    <div class="col-md-4" [@contenedorAnimable]="state"
         (@contenedorAnimable.start)="animacionInicia($event)"
         (@contenedorAnimable.done)="animacionTermina($event)">
      <!--Callbacks arriba-->

      <h2>Destacados</h2>
      <ng-container *ngFor="let lugar of lugares">
        <div class="bg-destacado padding" *ngIf="lugar.plan === 'pagado'">
          <a routerLink="/crear/{{lugar.id}}">
            <h3>{{lugar.nombre | uppercase}} </h3>
            <!--   <br/>
               <small>Creado: {{lugar.id | date:'short' | uppercase}}</small>-->
            <p [innerHTML]="lugar.descripcion | linkyfystr"></p>
          </a>
        </div>
        <!--*ngIf="lugar.active" -->

      </ng-container>
    </div>
  </div>
</div>
